<a href="https://colab.research.google.com/github/quotation3/TIL/blob/master/%EB%84%A4%EC%9D%B4%EB%B2%84%EA%B8%88%EC%9C%B5_%EC%A3%BC%EC%8B%9D%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 9.
네이버 금융에서 종목하나를 골라 일별시세의 날짜와 체결가 전부(현재부터 2005년까지)를 가져와서 저장해보세요.

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import re

import numpy as np
import pandas as pd

In [19]:
dates = []
prices = []

for j in range(1,10):
    res = requests.get("https://finance.naver.com/item/sise_day.nhn?code=003680&page={}".format(j))
    bs = BeautifulSoup(res.text, "html.parser")
    # print(bs.text)
    date = bs.select('span.p10')
    price = bs.select('span.p11')

    for i in range(len(date)):
        dates.append(date[i].text)
        prices.append(price[6*i].text)

data = np.array([dates,prices])
# print(data)
df_hansung = pd.DataFrame(data.T, columns=['날짜','종가'])
df_hansung.head()
# df_hansung.to_csv('hansung.csv', index=False)

           날짜      종가
0  2020.07.21  17,150
1  2020.07.20  17,300
2  2020.07.17  16,450
3  2020.07.16  16,100
4  2020.07.15  15,300