<a href="https://colab.research.google.com/github/quotation3/TIL/blob/master/%EC%A0%91%EC%86%8D%EC%88%9C%EC%9C%84_%EC%83%81%EC%9C%84_%ED%99%88%ED%8E%98%EC%9D%B4%EC%A7%80_%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 1.
아마존 계열사인 알렉사는 전 세계의 웹사이트 순위정보를 제공해주는 사이트입니다.
한국 사용자들의 방문 정보를 기반으로 매겨진 웹사이트 순위 정보를 가져와서, pandas를 이용해 csv파일로 저장해보세요.
https://www.alexa.com/topsites/countries

In [3]:
import re
import requests
from bs4 import BeautifulSoup
import re

import numpy as np
import pandas as pd

In [8]:
url = requests.get('https://www.alexa.com/topsites/countries/KR')
bs =BeautifulSoup(url.text, "html.parser")
sites = []
for i in range(50):
    site = bs.select('div.DescriptionCell')[i].text.strip()
    sites.append(site)
rank = list(range(1,51))
data = np.array([rank,sites])
# print(data)
df_rank = pd.DataFrame(data.T, columns=['순위','사이트']).set_index('순위')
df_rank.head()

            사이트
순위
1    Google.com
2     Naver.com
3   Youtube.com
4      Daum.net
5   Tistory.com

In [9]:
df_rank.to_csv('접속순위랭크')